[Unit]
Description=MI temp to Blynk
After=network.target

[Service]
ExecStart=/bin/sh /home/pi/apdev/start_mi.sh
WorkingDirectory=/home/pi/apdev
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
